body{
    background-color: #ecf0f1;
}
.btn{
    cursor: pointer;
}
body{
    color: #778beb;
}
.clicked{
    color: #3dc1d3;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: fadeIn .5s linear; 
}