body{
    background-color: #ecf0f1;
}
.btn{
    cursor: pointer;
}
body{
    color: #778beb;
}
.clicked{
    color: #3dc1d3;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}